@import "../fonts/calibri/font.css";

@mixin fontbase{
	font-family: 'Calibri';
}
@mixin transition($trans...){
	transition:$trans;
	-webkit-transition:$trans;
	-moz-transition:$trans;
}
@mixin media($width:767px){
	@media screen and (max-width:$width){
		@content;
	}
}

/* COLOR */
$xanhduong:#009ace;
$xanhduong2:#00b3d8;
$text01:#6d6e71;



*{margin:0; padding:0}
html, body{width:100%;height:100%;}
html{font-size:62.5%}
body{@include fontbase;}

ul{
	margin:0;
	padding:0
}
h1,h2,p{margin:0; padding:0; font-size:1.8rem;}
a:hover, a:focus{text-decoration:none; outline:none;}

.header{
	position:absolute;
	width:100%;
	padding:3rem 3rem 0;
	.wrap-header{
		position:relative;
		a.logo{
			float:left;
		}
		button.btn-wrap-menu{
			position:absolute;
			right:0;
			top:10px;
			background:none;
			border:none;
			span.text-menu{
				font-size:1.8rem;
				@include fontbase;
				color:white;
				display:inline-block;
				vertical-align: middle;
				text-transform: uppercase;
			}
			span.icon-bar{
				display:inline-block;
				vertical-align: middle;
				height:2px;
				width:30px;
				border-radius:3px;
				background:white;
				position:relative;
				margin-left:20px;
				&:before, &:after{
					content:'';
					display:inline-block;
					position:absolute;
					height:2px;
					width:30px;
					border-radius:3px;
					background:white;
					left:0;
					transform:rotate(0deg);
					-webkit-transform:rotate(0deg);
					-moz-transform:rotate(0deg);
					@include transition(all 0.3s)
				}
				&:before{
					top:-10px;
				}
				&:after{
					bottom:-10px;
				}
			}
		}
	}
}
.overlay-menu{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(153,204,51,0.9);
	opacity:0;
	z-index:-1;
}