@import "_define";

.section01{
	width:100%;
	min-height:500px;
	height:100%;
	background:url('../images/bg-section01.jpg')no-repeat;
	background-size:cover;
	div.center{
		width:100%;
		height:100%;
		display:table;
		.v-center{
			display:table-cell;
			height:100%;
			vertical-align:middle;
			text-align:center;
		}
		img.ic-tenyear{
			margin:0 auto 6rem;
		}
		a.readmore{
			font-size:1.5rem;
			padding:6px 25px;
			color:$xanhduong2;
			border-radius:20px;
			border:1px solid $xanhduong2;
			text-transform:uppercase;
			@include transition(all 0.3s);
			&:hover{
				background:$xanhduong2;
				color:white;
			}
		}
		i.ic-scrolldown{
			position:absolute;
			bottom:15%;
			left:50%;
			transform:translateX(-50%);
			-moz-transform:translateX(-50%);
			-webkit-transform:translateX(-50%);
			display:block;
			width:27px;
			height:42px;
			background:url('../images/ic-scrolldown.png')no-repeat;
			animation:ani-btn 2s linear 0.8s infinite alternate;
			-webkit-animation:ani-btn 2s linear 0.8s infinite alternate;
			-moz-animation:ani-btn 2s linear 0.8s infinite alternate;
			cursor:pointer;

		}
	}
}
@keyframes ani-btn{
	0%{bottom:15%}
	50%{bottom:14%}
	100%{bottom:15%}
}
@-webkit-keyframes ani-btn{
	0%{bottom:15%}
	50%{bottom:14%}
	100%{bottom:15%}
}
@-moz-keyframes ani-btn{
	0%{bottom:15%}
	50%{bottom:14%}
	100%{bottom:15%}
}