@import "_define";

.section01{
	width:100%;
	min-height:500px;
	height:100%;
	background:url('../images/bg-section01.jpg')no-repeat;
	background-size:cover;
	div.center{
		width:100%;
		height:100%;
		display:table;
		.v-center{
			display:table-cell;
			height:100%;
			vertical-align:middle;
			text-align:center;
		}
		img.ic-tenyear{
			margin:0 auto 6rem;
		}
		a.readmore{
			font-size:1.5rem;
			padding:6px 25px;
			color:$xanhduong2;
			border-radius:20px;
			border:1px solid $xanhduong2;
			text-transform:uppercase;
			@include transition(all 0.3s);
			&:hover{
				background:$xanhduong2;
				color:white;
			}
		}
		i.ic-scrolldown{
			position:absolute;
			bottom:15%;
			left:50%;
			transform:translateX(-50%);
			-moz-transform:translateX(-50%);
			-webkit-transform:translateX(-50%);
			display:block;
			width:27px;
			height:42px;
			background:url('../images/ic-scrolldown.png')no-repeat;
			animation:ani-btn 2s linear 0.8s infinite alternate;
			-webkit-animation:ani-btn 2s linear 0.8s infinite alternate;
			-moz-animation:ani-btn 2s linear 0.8s infinite alternate;
			cursor:pointer;
		}
	}
}
.section{
	position:relative;
	.title-container{
		width:100%;
		height:30rem;
		text-align:center;
		div.center{
			height:100%;
			width:100%;
			display:table;
			div.v-center{
				display:table-cell;
				vertical-align:middle;
			}
		}
		h2.title{
			margin-bottom:4rem;
			font-size:3.3rem;
			@include fontbase;
			font-weight:600;
			color:$xanhduong;
			display:inline-block;
			text-transform:uppercase;
			vertical-align:baseline;
			i.ic-text{
				display:inline-block;
				width:25px;
				height:25px;
				background:url('../images/ic-text.png')no-repeat;
				vertical-align:baseline;
				&.left{
					margin-right:1rem; 
				}
				&.right{
					margin-left:1rem; 
				}
			}
		}
		p.sub-title{
			max-width:50%;
			margin:0 auto;
			font-size:2.8rem;
			line-height:3.2rem;
			text-transform:capitalize;
			color:$text01;
			&.margin-bot{
				margin-bottom:3rem;
			}
		}
	}
}
#about-section{
	width:100%;
	height:100%;
	.img-container{
		height:calc(100% - 300px);
		width:100%;
		position:relative;
		.container-float{
			// position:relative;
		}
		.wrap-left{
			width:60%;
			height:100%;
			position:absolute;
			background:url('../images/bg01-section2.jpg')no-repeat;
			background-size:cover;
		}
		.right-top, .right-bottom{
			position:absolute;
			height:50%;
			width:40%;
			right:0;
		}
		.right-top{
			top:0;
			background:url('../images/bg02-section2.jpg')no-repeat;
			background-size:cover;
		}
		.right-bottom{
			bottom:0;
			#about-swiper{
				background:$xam;
				height:100%;
				position:relative;
				overflow:hidden;
				a.link-agency{
					position:absolute;
					top:10px;
					right:10px;
					color:white;
					z-index:100;
					text-transform:capitalize;
					@include transition(all 0.3s);
					&:hover{
						color:$xanhduong2;
						right:5px;
					}
				}
				.swiper-wrapper{
					height:100%;
					.swiper-slide{
						height:100%;
						.each-slide{
							height:100%;
							.center{
								display:table;
								width:100%;
								height:100%;
								.v-center{
									width:100%;
									height:100%;
									display:table-cell;
									vertical-align:middle;
									text-align:center;
									color:white;
									img{
										margin-bottom:2rem;
									}
									h3.title-slide{
										@include fontbase;
										font-size:2.6rem;
										text-transform:uppercase;
										margin-bottom:0.5rem;
									}
									p.sub-slide{
										@include fontbase;
										font-size:2rem;
										color:$xanhduong2;

									}
								}
							}
						}
					}
				}
				.swiper-pagination-bullet{
					background:transparent;
					width:12px;
					height:12px;
					border:1px solid white;
					opacity:1;
					&.swiper-pagination-bullet-active{
						background:$xanhduong;
						border-color:transparent;
					}
				}
			}
		}
	}
}

#service-section{
	height:100%;
	width:100%;
	#services{
		height:30%;
		min-height:35rem;
		.container{
			height:100%;
			.center{
				display:table;
				width:100%;
				height:100%;
				.v-center{
					display:table-cell;
					height:100%;
					vertical-align:middle;
					text-align:center;
					.wrap-button{
						span{
							padding:0 1.5rem;
							display:inline-block;
						}
						a.btn-me{
							font-size:1.5rem;
							padding:6px 25px;
							color:white;
							background:#079acf;
							border-radius:20px;
							border:1px solid transparent;
							text-transform:uppercase;
							@include transition(all 0.3s);
							&:hover{
								background:transparent;
								color:$xanhduong;
								border:1px solid $xanhduong;
							}
						}
					}
				}
			}
		}
	}
	#project{
		height:calc(100% - 35rem);
		min-height:70%;
		.project-container{
			.each-project{
				text-align:left;
				img{
					margin:0 auto 2.2rem;
				}
				h2.project-name{
					font-size:2.4rem;
					font-weight:bold;
					@include fontbase;
					margin-bottom:2rem;
					color:$text01;
				}
				p.description{
					@include fontbase;
					font-size:1.6rem;
					color:$text01;
					line-height:2rem;
				}
			}
		}
	}
	
}

.background-area{
	width:100%;
	height:700px;
	background:url('../images/bg-section3.jpg')no-repeat;
	background-size:cover;
	.center{
		display:table;
		height:100%;
		width:100%;
		.v-center{
			display:table-cell;
			height:100%;
			width:100%;
			vertical-align:middle;
			text-align:center;
			h2.title{
				margin-bottom:4rem;
				font-size:3.3rem;
				@include fontbase;
				font-weight:600;
				color:$xanhduong;
				display:inline-block;
				text-transform:uppercase;
				vertical-align:baseline;
				i.ic-text{
					display:inline-block;
					width:25px;
					height:25px;
					background:url('../images/ic-text.png')no-repeat;
					vertical-align:baseline;
					&.left{
						margin-right:1rem; 
					}
					&.right{
						margin-left:1rem; 
					}
				}
			}
			p.sub-title{
				max-width:90%;
				margin:0 auto 4rem;
				font-size:4rem;
				font-weight:bold;
				line-height:4.5rem;
				text-transform:uppercase;;
				color:white;
			}
			a.readmore{
				font-size:1.5rem;
				padding:6px 25px;
				color:$xanhduong2;
				border-radius:20px;
				border:1px solid $xanhduong2;
				text-transform:uppercase;
				@include transition(all 0.3s);
				&:hover{
					background:$xanhduong2;
					color:white;
				}
			}
		}
	}
}
.tenyear-footer{
	padding:6rem 0;
	width:100%;
	background:$xanhduong-den;
	img{
		margin:0 auto;
	}
}



@keyframes ani-btn{
	0%{bottom:15%}
	50%{bottom:14%}
	100%{bottom:15%}
}
@-webkit-keyframes ani-btn{
	0%{bottom:15%}
	50%{bottom:14%}
	100%{bottom:15%}
}
@-moz-keyframes ani-btn{
	0%{bottom:15%}
	50%{bottom:14%}
	100%{bottom:15%}
}