@import "_define";

.section01{
	width:100%;
	min-height:500px;
	height:100%;
	background:url('../images/bg-section01.jpg')no-repeat;
	background-size:cover;
	div.center{
		width:100%;
		height:100%;
		display:table;
		.v-center{
			display:table-cell;
			height:100%;
			vertical-align:middle;
			text-align:center;
		}
		img.ic-tenyear{
			margin:0 auto 6rem;
		}
		a.readmore{
			font-size:1.5rem;
			padding:6px 25px;
			color:$xanhduong2;
			border-radius:20px;
			border:1px solid $xanhduong2;
			text-transform:uppercase;
			@include transition(all 0.3s);
			&:hover{
				background:$xanhduong2;
				color:white;
			}
		}
		i.ic-scrolldown{
			position:absolute;
			bottom:15%;
			left:50%;
			transform:translateX(-50%);
			-moz-transform:translateX(-50%);
			-webkit-transform:translateX(-50%);
			display:block;
			width:27px;
			height:42px;
			background:url('../images/ic-scrolldown.png')no-repeat;
			animation:ani-btn 2s linear 0.8s infinite alternate;
			-webkit-animation:ani-btn 2s linear 0.8s infinite alternate;
			-moz-animation:ani-btn 2s linear 0.8s infinite alternate;
			cursor:pointer;
		}
	}
}
.section{
	.title-container{
		padding:7rem 0;
		text-align:center;
		h2.title{
			font-size:3.3rem;
			@include fontbase;
			font-weight:600;
			color:$xanhduong2;
			margin-bottom:4rem;
			display:inline-block;
			text-transform:uppercase;
			vertical-align:baseline;
			i.ic-text{
				display:inline-block;
				width:25px;
				height:25px;
				background:url('../images/ic-text.png')no-repeat;
				margin-right:1rem;
				vertical-align:baseline;
			}
		}
		p.sub-title{
			font-size:2.8rem;
			line-height:3.2rem;
			text-transform:uppercase;
			color:$text01;
			&.margin-bot{
				margin-bottom:3rem;
			}
		}
	}
}
#about-section{
	.img-container{
		position:relative;
		.wrap-left{
			width:60%;
			min-height:700px;
			float:left;
			background:url('../images/bg01-section2.jpg')no-repeat;
			background-size:cover;
		}
		.right-top, .right-bottom{
			position:absolute;
			height:50%;
			width:40%;
			right:0;
		}
		.right-top{
			top:0;
			background:url('../images/bg02-section2.jpg')no-repeat;
			background-size:cover;
		}
		.right-bottom{
			bottom:0;
		}
	}
}

@keyframes ani-btn{
	0%{bottom:15%}
	50%{bottom:14%}
	100%{bottom:15%}
}
@-webkit-keyframes ani-btn{
	0%{bottom:15%}
	50%{bottom:14%}
	100%{bottom:15%}
}
@-moz-keyframes ani-btn{
	0%{bottom:15%}
	50%{bottom:14%}
	100%{bottom:15%}
}